.modal-container {
  position: relative;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1200px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  box-sizing: border-box;
}

.table-container {
  max-height: 300px; 
  overflow-y: auto;
}

.custom-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.selected-row {
  background: #f0f0f0;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

@media (max-width: 600px) {
  .modal-container {
    width: 95%;
    padding: 10px;
  }

  .table-container {
    max-height: 250px; 
  }

  .MuiButton-root {
    width: 100%;
    margin: 5px 0; 
  }
}
